.Support_page {
    padding-bottom: 20px;
    min-height: 100vh;
	display: grid;
	grid-template-rows: auto auto auto;
}
.Support_ask_quetions {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: url(../../../assets/faq_bg.jpg) center no-repeat;
}
.Support_main_containner {
    max-width: 1230px;
    margin: 30px auto 0 ;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.Support_ask_typography {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    margin: 0;
    color: #284621;
    font-weight: 500;
    text-align: center;
}
.Accordions_container {
    flex: 0 1 60%;
}
.Accordion_wrapper {
    margin-bottom: 20px;
    padding: 0px;
    background: #F7F7F7 !important;
    box-shadow: 0px 0px 6px rgba(155, 154, 154, 0.48) !important;
}
.Accordion_summary {
    padding: 0px 16px;
    height: 68px;
    min-width: 100%;
    background: #F1F1F1;
}
.Accordion_details {
    min-height: 80px;
    background: #FFFFFF;
}
.Accordion_details_typography {
    font-size: 16px !important;
    line-height: 150%;
    letter-spacing: 0.15px;
    max-width: 100%;
    color: #676767 !important;
}
.Accordion_header_typography {
    color: rgba(0, 0, 0, 0.87) !important;
}
.Question_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    height: 420px;
    background: #FEF1E1;
    box-shadow: 0px 0px 7px rgba(165, 120, 76, 0.33);
    border-radius: 10px;
}
.Question_header_typography {
    display: grid;
    place-self: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
}
.Question_header_paragraph {
    text-align: center;
    color: rgba(63, 71, 50, 0.87);
}

@media screen and (max-width: 870px) {
    .Support_main_containner {
        flex-direction: column;
        padding: 0 30px;
    }
    .Support_ask_typography {
        left: 38%;
        font-size: 27px;
    }
}

@media screen and (max-width: 540px) {
    .Support_ask_quetions {
        background-position: top 30% left 30%;
    }
    .Support_ask_typography {
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 2000px) {
    .Support_ask_quetions {
        background: #f1f1f1;
    }
}