.side_bar {
    background-color: white;
    height: calc(100vh - 60px);
    box-shadow: 4px 0px 10px -5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .4s ease-in;
}
.side_bar.opened {
    left: 0;
}
.services-list {
    width: 380px;
}
.services-search {
    margin-bottom: 20px;
    padding: 0 20px;
    position: sticky;
}
.services-search >*:not(:last-child) {
    margin-bottom: 15px;
}
.text-left {
    text-align: left;
}
.item-details {
    margin-bottom: 8px;
}

.button-group {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
}
.cards-container {
    padding-bottom: 15px;
    padding: 0 20px;
}

.cards-container >*:not(:last-child) {
    margin-bottom: 10px;
}

.list-subheader {
    font-weight: 600;
    position: sticky;
    width: 380px;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between
}

@media screen and (max-width: 1020px) {
    .side_bar {
        left: -380px;
    }
}