.marker {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -25px;
    left: -25px;
}
.location-icon {
    color: #F59708;
    transition: .3s;
    z-index: 1;
}

.red {
    color: #ee4d45;
}

.location-icon:hover {
    color: #F55E08;
    cursor: pointer;
}

.marker-label {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}