.map-side {
  width: calc(100% - 410px);
  height: calc(100vh - 90px);
  padding: 10px;
  margin-left: auto;
}

.map-container {
  width: 98%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 1020px) {
  .map-side {
    width: 100%;
  }
}