.form-container {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.error-message {
    color: #E51104;
    font-size: 12px;
    padding: 4px;
    font-family: sans-serif;
}

@media screen and (max-width: 520px){
    .form {
        width: 100%;
    }
}